Importing libraries

In [ ]:
import pandas as pd
import numpy as np
from statistics import median

Read csv file into a pandas dataframe

In [ ]:
data = pd.read_csv("/work/DataSets  Python Scripts/propertydata.csv")

In [ ]:
print(data)

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3        1  1000
1  100002000.0   197.0   LEXINGTON            N            3      1.5    --
2  100003000.0     NaN   LEXINGTON            N          NaN        1   850
3  100004000.0   201.0    BERKELEY           12            1      NaN   700
4          NaN   203.0    BERKELEY            Y            3        2  1600
5  100006000.0   207.0    BERKELEY            Y          NaN        1   800
6  100007000.0     NaN  WASHINGTON          NaN            2        ?   950
7  100008000.0   213.0     TREMONT            Y            1        1   NaN
8  100009000.0   215.0     TREMONT            Y           na        2  1800
9  100009000.0   215.0     TREMONT            Y            ?        2  1800

Take a look at the first few rows

In [ ]:
print (data.head())

           PID  ST_NUM    ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0     PUTNAM            Y            3        1  1000
1  100002000.0   197.0  LEXINGTON            N            3      1.5    --
2  100003000.0     NaN  LEXINGTON            N          NaN        1   850
3  100004000.0   201.0   BERKELEY           12            1      NaN   700
4          NaN   203.0   BERKELEY            Y            3        2  1600

In [ ]:
data.describe()

                PID      ST_NUM
count  9.000000e+00    8.000000
mean   1.000054e+08  194.375000
std    3.045944e+03   37.128878
min    1.000010e+08  104.000000
25%    1.000030e+08  200.000000
50%    1.000060e+08  205.000000
75%    1.000080e+08  213.500000
max    1.000090e+08  215.000000

In [ ]:
data.columns
data.values

array([[100001000.0, 104.0, 'PUTNAM', 'Y', '3', '1', '1000'],
       [100002000.0, 197.0, 'LEXINGTON', 'N', '3', '1.5', '--'],
       [100003000.0, nan, 'LEXINGTON', 'N', nan, '1', '850'],
       [100004000.0, 201.0, 'BERKELEY', '12', '1', nan, '700'],
       [nan, 203.0, 'BERKELEY', 'Y', '3', '2', '1600'],
       [100006000.0, 207.0, 'BERKELEY', 'Y', nan, '1', '800'],
       [100007000.0, nan, 'WASHINGTON', nan, '2', '?', '950'],
       [100008000.0, 213.0, 'TREMONT', 'Y', '1', '1', nan],
       [100009000.0, 215.0, 'TREMONT', 'Y', 'na', '2', '1800'],
       [100009000.0, 215.0, 'TREMONT', 'Y', '?', '2', '1800']],
      dtype=object)

Looking at the ST_NUM column<br>
tandard Missing Values : missing values pandas can detect

In [ ]:
print (data['ST_NUM'])

0    104.0
1    197.0
2      NaN
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
9    215.0
Name: ST_NUM, dtype: float64

In [ ]:
print(data['ST_NUM'].isnull())

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
9    False
Name: ST_NUM, dtype: bool

In [ ]:
print(data['ST_NUM'].notnull())

0     True
1     True
2    False
3     True
4     True
5     True
6    False
7     True
8     True
9     True
Name: ST_NUM, dtype: bool

on-standard missing values

In [ ]:
print(data['NUM_BEDROOMS'])
print(data['NUM_BEDROOMS'].isnull())

0      3
1      3
2    NaN
3      1
4      3
5    NaN
6      2
7      1
8     na
9      ?
Name: NUM_BEDROOMS, dtype: object
0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
9    False
Name: NUM_BEDROOMS, dtype: bool

Making a list of missing value types

In [ ]:
missing_values = ["n/a", "na", "--","?"]
data = pd.read_csv("/work/DataSets  Python Scripts/propertydata.csv", na_values = missing_values)

In [ ]:
print(data['NUM_BEDROOMS'].isnull())

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8     True
9     True
Name: NUM_BEDROOMS, dtype: bool

Total missing values for each feature

In [ ]:
print(data.isnull().sum())

PID             1
ST_NUM          2
ST_NAME         0
OWN_OCCUPIED    1
NUM_BEDROOMS    4
NUM_BATH        2
SQ_FT           2
dtype: int64

Any missing values?

In [ ]:
print(data.isnull().values.any())

True

Total number of missing values

In [ ]:
print(data.isnull().sum().sum())

10

checking the percentage of missing values in each variable

In [ ]:
print(data.isnull().sum()/len(data)*100)

PID             11.111111
ST_NUM          22.222222
ST_NAME          0.000000
OWN_OCCUPIED    11.111111
NUM_BEDROOMS    33.333333
NUM_BATH        11.111111
SQ_FT           22.222222
dtype: float64

ow we drop rows with at least one Nan value (Null value)

In [ ]:
print(data.dropna())

           PID  ST_NUM ST_NAME OWN_OCCUPIED  NUM_BEDROOMS  NUM_BATH   SQ_FT
0  100001000.0   104.0  PUTNAM            Y           3.0       1.0  1000.0

ow we drop a rows whose all data is missing or contain null values(NaN)

In [ ]:
print(data.dropna(how = 'all'))

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

ow we drop a columns which have at least 1 missing values

In [ ]:
print(data.dropna(axis=1))

      ST_NAME
0      PUTNAM
1   LEXINGTON
2   LEXINGTON
3    BERKELEY
4    BERKELEY
5    BERKELEY
6  WASHINGTON
7     TREMONT
8     TREMONT

ow we drop a ro which have at least 1 missing values

In [ ]:
print(data.dropna(axis=0))

           PID  ST_NUM ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0  PUTNAM            Y           3.0        1  1000.0

ill in missing values with zero

In [ ]:
print(data.fillna(0))
print(data)

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS  NUM_BATH  \
0  100001000.0   104.0      PUTNAM            Y           3.0       1.0
1  100002000.0   197.0   LEXINGTON            N           3.0       1.5
2  100003000.0     0.0   LEXINGTON            N           0.0       1.0
3  100004000.0   201.0    BERKELEY           12           1.0       0.0
4          0.0   203.0    BERKELEY            Y           3.0       2.0
5  100006000.0   207.0    BERKELEY            Y           0.0       1.0
6  100007000.0     0.0  WASHINGTON            0           2.0       0.0
7  100008000.0   213.0     TREMONT            Y           1.0       1.0
8  100009000.0   215.0     TREMONT            Y           0.0       2.0
9  100009000.0   215.0     TREMONT            Y           0.0       2.0

    SQ_FT
0  1000.0
1     0.0
2   850.0
3   700.0
4  1600.0
5   800.0
6   950.0
7     0.0
8  1800.0
9  1800.0
           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS  NUM_BATH  \
0  100001000.0   104.0      PUTNAM            Y           3.0       1.0
1  100002000.0   197.0   LEXINGTON            N           3.0       1.5
2  100003000.0     NaN   LEXINGTON            N           NaN       1.0
3  100004000.0   201.0    BERKELEY           12           1.0       NaN
4          NaN   203.0    BERKELEY            Y           3.0       2.0
5  100006000.0   207.0    BERKELEY            Y           NaN       1.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0       NaN
7  100008000.0   213.0     TREMONT            Y           1.0       1.0
8  100009000.0   215.0     TREMONT            Y           NaN       2.0
9  100009000.0   215.0     TREMONT            Y           NaN       2.0

    SQ_FT
0  1000.0
1     NaN
2   850.0
3   700.0
4  1600.0
5   800.0
6   950.0
7     NaN
8  1800.0
9  1800.0

Replace using mean

In [ ]:
m = data["ST_NUM"].mean()
print(m)
# fill missing values with mean column values
print(data['ST_NUM'].replace(np.nan, m))

194.375
0    104.000
1    197.000
2    194.375
3    201.000
4    203.000
5    207.000
6    194.375
7    213.000
8    215.000
9    215.000
Name: ST_NUM, dtype: float64

Replace using median ; inplace=True means that the changes are saved to the df right away

In [ ]:
median = data['NUM_BEDROOMS'].median()
m1 = data['NUM_BEDROOMS'].fillna(median, inplace=True)
print(data['NUM_BEDROOMS'])

0    3.0
1    3.0
2    2.5
3    1.0
4    3.0
5    2.5
6    2.0
7    1.0
8    2.5
Name: NUM_BEDROOMS, dtype: float64

ropping the outlier rows with standard deviation

In [ ]:
factor = 3
upper_lim = data['NUM_BEDROOMS'].mean () + data['NUM_BEDROOMS'].std () * factor
lower_lim = data['NUM_BEDROOMS'].mean () - data['NUM_BEDROOMS'].std () * factor

In [ ]:
data = data[(data['NUM_BEDROOMS'] < upper_lim) & (data['NUM_BEDROOMS'] > lower_lim)]

ropping the outlier rows with Percentiles

In [ ]:
upper_lim = data['NUM_BEDROOMS'].quantile(.95)
lower_lim = data['NUM_BEDROOMS'].quantile(.05)

In [ ]:
data = data[(data['NUM_BEDROOMS'] < upper_lim) & (data['NUM_BEDROOMS'] > lower_lim)]

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=486c3042-68b8-438c-a156-48d94106b4cb' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>